# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# Don't ignore specific DLLs we need
!DiscordRichPresence/dependencies/discord-rpc/win32-dynamic/bin/discord-rpc.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.exp

# Winamp/Discord general directories
discord-rpc/
winamp-sdk/

# Executables
*.exe
*.out
*.app
*.aps
# Don't ignore specific EXEs we need
!DiscordRichPresence/dependencies/discord-rpc/win32-dynamic/bin/send-presence.exe

# Build directories
DiscordRichPresence/Debug/
DiscordRichPresence/Release/
DiscordRichPresence/x64/
DiscordRichPresence/x86/
Debug/
Release/
x64/
x86/
Win32/

# Visual Studio files
.vs/
*.vcxproj.user
*.suo
*.userprefs
*.sdf
*.opensdf
*.db
*.opendb
*.ipch

# vcpkg artifacts
vcpkg_installed/
!vcpkg.json
!vcpkg-configuration.json

# Distribute folder and archives
Distribute/
*.zip

# Temporary files
*~
*.swp
*.bak
*.tmp
*.ilk
*.pdb

# cl.exe leftovers
DiscordRichPresence/RCa*
DiscordRichPresence/Config.res

